* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.908);
    color: whitesmoke;
    padding: 20px;
}

/*  */
#menu {
    font-size: 25px;
    cursor: pointer;
}

.mini-text {
    max-width: 500px;
    margin-top: 10px;
}

