
body {
    overflow-x: hidden;
}

img {
    cursor: pointer;
}

#rocket {
    width: 300px;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.start {
    animation-name: example;
    animation-duration: 2s;
}

.go {
    width: 100px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes example {
    from {}
    to {
        transform: translate(80vw, -80vh);
    }
  }

