* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(44, 71, 176, 0.91);
    color: whitesmoke;
    padding: 20px;
}

/*  */
.cont {
    width: 800px;
}

.cont > img {
    width: 100%;
}

.imgs img {
    width: 180px;
    cursor: pointer;
}

